
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************/

body {
    color: white;
    background-color: #99ccff;
}

table  {
    border-style: solid;
    border-width: medium;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
    
}
table, th, td {
    border-style: solid;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
}
td{
    padding-bottom: 150px;
}
 .box1 {
    background-color: #00cc00;
}

.box2 {
    background-color: #00cc00;
}
.box3 {
    background-color: #ff3300;
}
.box4 {
    background-color: #ff3300;
}





